/*
 * 
 * Modules > Colors
 * 
 */

// COLORS ---------------------------------------------------------------------
.black {
  color: $black;
}
.white {
  color: $white;
}
.wine {
  color: $wine;
}

// BACKGROUNDS ----------------------------------------------------------------
.bg-black {
  background-color: $black;
}
.bg-white {
  background-color: $white;
}
