/*
 * 
 * Modules > Variables
 * 
 */

// COLORS ---------------------------------------------------------------------
$black: #000;
$white: #fff;
$colorprimary: red;
$colorsecondary: blue;

// TRANSITION ---------------------------------------------------------------------
$transition: all 0.4s ease-in-out;

// FONTS ---------------------------------------------------------------------
$font-title: "Open Sans", sans-serif;
$font-subtitle: "Open Sans", sans-serif;
$font-default: "Open Sans", sans-serif;
//$font-especial: 'Open Sans', sans-serif;
//$font-icon: "Material Design Icons";

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
